<div>
    <nav class="navbar navbar-expand navbar-custom">
        <a class="navbar-brand " href="#">
            <img src="/assets/logo.png" width="30" height="30" alt=""> Article Library Application
        </a>

        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link " [routerLink]="['/']">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" [routerLink]="['/',{ outlets: { main: ['add']}} ]">Add Article</a>
            </li>
            <li class='nav-item' (click)="toggleState()">
                <a class="nav-link" [routerLink]="['/',{ outlets: { finder: ['search']}} ]" tabindex="-1" aria-disabled="true">Search</a>
            </li>
        </ul>
    </nav>
    <div class='main' (click)="closeFinder()">
        <router-outlet name="main"></router-outlet>
    </div>
    <div class='finder' [@finderState]="finderState">
        <router-outlet name="finder"></router-outlet>
    </div>
</div>