.search-tool {
    display: flex;
    color: white;
}

.search-result {
    display: block;
    overflow-y: auto;
    max-height: 87% !important;
    margin-bottom: 10px;
    width: 277px;
    overflow-wrap: break-word;
    overflow-x: hidden;
    position: absolute;
}

.search-error {
    display: block;
    overflow-y: auto;
    color: red;
    max-height: 87% !important;
    margin-bottom: 10px;
    width: 277px;
    overflow-wrap: break-word;
    overflow-x: hidden;
    position: absolute;
}

.result {
    list-style: none;
    display: block;
    max-height: 90px;
    font-size: 15px;
    width: 85% !important;
    max-width: 85% !important;
    border-radius: 4px;
    box-shadow: 0 0 10px white;
    padding: 5px;
    overflow-wrap: break-word;
    margin-left: auto;
    color: white;
    margin-right: auto;
}