<div>
    <div class="search-tool">
        <div>
            <mat-form-field>
                <input matInput placeholder="Search" value="" class="form-control text-white" (input)="onSearchChange($event.target)">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button (click)="listAll()">List All</button>
        </div>
    </div>
    <div class="search-result">
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
        <ul class="result">
            <li>title1</li>
            <li>created on: 1/1/19</li>
        </ul>
    </div>

</div>