<div>
    <div class="search-tool">
        <div>
            <mat-form-field>
                <input matInput placeholder="Search" value="" class="form-control text-white" (input)="onSearchChange($event.target)">
            </mat-form-field>
        </div>
        <div>
            <button mat-raised-button (click)="listAll()">List All</button>
        </div>
    </div>
    <div *ngIf="err" class="search-error">
        {{err}}
    </div>

    <div *ngIf="dataSet" class="search-result">
        <ul *ngFor="let result of dataSet" class="result" [routerLink]="['/', { outlets: { main: ['view', result._id]}} ]">
            <li><b>Title:</b> {{result.title}}</li>
            <li><b>Created on:</b> {{result.created_on}}</li>
        </ul>
    </div>

</div>